<!-- <template *ngFor="let p of positions">
        <agm-marker *ngIf="p.doorisopen"
            [latitude]="stop.latlng[0]" 
            [longitude]="stop.latlng[1]" 
            [label]="stop.time + stop.passengers"
            [iconUrl]="color(stop)">
        </agm-marker>

        <agm-marker  *ngIf="!p.doorisopen"
            [latitude]="race.latlng[0]" 
            [longitude]="race.latlng[1]" 
            [label]="race.time + race.passengers"
            [iconUrl]="color(race)">
        </agm-marker>
</template>

<agm-marker *ngFor="let p of positions[positions.length-1]"
        [latitude]="p.latlng[0]" 
        [longitude]="p.latlng[1]" 
        [label]="p.time"
        [iconUrl]="color(p.color)">
</agm-marker> -->