<template *ngFor="let p of positions; let i = index">
        <agm-marker *ngIf="p.doorisopen && i != positions.length - 1"
            [latitude]="p.latlng[0]" 
            [longitude]="p.latlng[1]" 
            [label]="p.time + p.passengers">
        </agm-marker>

        <agm-marker  *ngIf="!p.doorisopen && i != positions.length - 1"
            [latitude]="p.latlng[0]" 
            [longitude]="p.latlng[1]" 
            [label]="p.time + p.passengers"
            [iconUrl]="getRace()">
        </agm-marker>
</template>

<agm-marker *ngIf="positions.length > 0"
        [latitude]="positions[positions.length-1].latlng[0]" 
        [longitude]="positions[positions.length-1].latlng[1]" 
        [label]="positions[positions.length-1].time">
</agm-marker>
