<div class="card card-style my-5">
  <div class="card-body">

    <h1 class="card-title text-center">Buses control</h1>

    <ul class="nav justify-content-center">
      <li class="nav-item" *ngIf="authenticationService.currentUserValue.role != role.employee">
        <a class="nav-link " routerLink="/users">Users</a>
      </li>
      <li class="nav-item" *ngIf="authenticationService.currentUserValue.role != role.employee">
        <a class="nav-link" routerLink="/companies">Companies</a>
      </li>
      <li class="nav-item" *ngIf="authenticationService.currentUserValue.role != role.employee">
        <a class="nav-link" routerLink="/buses">Buses</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="fa fa-sign-out pointer"></i></a>
      </li>
    </ul>

    <ng-datepicker [(ngModel)]="date" (ngModelChange)="dateChanged()" [options]="options" position="bottom-left"
      style="text-align: center"></ng-datepicker>



    <div *ngFor="let bus of buses">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input unselectable" id="{{bus.busCode}}" [checked]="bus.checked"
          (change)="busChecked(bus)" />
        <label class="custom-control-label bold" htmlFor="{{bus.busCode}}">{{bus.name}} Line {{bus.line}}</label>
      </div>

      <div *ngIf="bus.checked">
        <div class="color" [style.background-color]="bus.color"></div>
        <p style="margin: 0">VAT: {{bus.VAT}}</p>
        <p style="margin: 0">Headquarters: {{bus.headquarters[0]}} , {{bus.headquarters[1]}}</p>

        <div *ngIf="bus.countsPassengers; else elsecountsp">
          <p>Passenger count sensor: YES</p>
        </div>

        <ng-template #elsecountsp>
          <p>Passenger count sensor: NO</p>
        </ng-template>

        <div *ngIf="bus.positions.length > 0; else zeroposition">
          <p style="margin: 0">Last Position: {{bus.positions[bus.positions.length -1].latlng[0]}},
            {{bus.positions[bus.positions.length -1].latlng[1]}}</p>
          <p>Time of last position: {{time(bus.positions[bus.positions.length -1].time)}}</p>


          <p class="bold" style="margin: 0">Stops:</p>
          <div *ngFor="let p of getStops(bus)">

            <p style="margin: 0">Position: {{p.latlng[0]}}, {{p.latlng[1]}}</p>
            <p style="margin: 0">Start Time: {{time(p.time)}}</p>
            <div *ngIf="p.stop">
              <p style="margin: 0">End Time: {{time(p.stop.time)}}</p>
              <p style="margin: 0" *ngIf="p.stop.passengers >= 0">Passengers on board: {{p.stop.passengers}}</p>
            </div>
            <hr/>

          </div>
        </div>

        <ng-template #zeroposition>
          <p class="bold">Today there are no positions </p>
        </ng-template>

      </div>

    </div>
  </div>
</div>
