<div *ngFor="let bus of buses" class="margin-bottom">
  <input type="checkbox" id="{{bus.busCode}}" [checked]="bus.checked" (change)="busChanged(bus)" />
  <label class="bold" htmlFor="{{bus.busCode}}">Line {{bus.busLine}}</label>

  <div *ngIf="bus.checked">
    <div>{{bus.name}} <div class="color inline" [style.background-color]="bus.color"></div>
    </div>

    <p>VAT: {{bus.VAT}}</p>

    <p style="margin: 0">Headquarters: </p>
    <p>{{bus.headquarters[0]}} , {{bus.headquarters[1]}}</p>

    <div *ngIf="bus.countsPassengers; else elsecountsp">
      <p style="margin: 0" *ngIf="bus.positions.length > 0">
        Number on board: {{bus.positions[bus.positions.length -1].passengers}}
      </p>
      <p>Passenger count sensor: YES</p>
    </div>

    <ng-template #elsecountsp>
      <p>Passenger count sensor: NO</p>
    </ng-template>

    <div *ngIf="bus.positions.length > 0">
      <p style="margin: 0">Last Position: </p>
      <p>{{bus.positions[bus.positions.length -1].latlng[0]}}, {{bus.positions[bus.positions.length -1].latlng[1]}}
      </p>

      <p style="margin: 0">Time of last position: </p>
      <p>{{time(bus.positions[bus.positions.length -1].time)}}</p>

      <!------------------- STOPS -------------------->
      <p style="margin: 0">Stops:</p>
      <div *ngFor="let stop of bus.positions">
        <div *ngIf="stop.doorisopen;">
          <p>Position: {{stop.latlng[0]}}, {{stop.latlng[1]}}</p>
          <p>Time: {{time(stop.time)}}</p>
          <p *ngIf="stop.passengers > 0">Number on board: {{stop.passengers}}</p>
          <hr />
        </div>
      </div>
    </div>

  </div>

</div>